@import url("vars.css");
.landingpage_hero_me_logo {
    display: flex;
    justify-content: center;
}

.landingpage_hero_me_logo>img {
    border-radius: 50%;
    height: 250px;
}

#landingpage_homefuge_spinner {
    max-width: 150px;
    border-radius: var(--card-border);
}

#landingpage_homefuge_game {
    max-width: 300px;
    border-radius: var(--card-border);
}

main {
    margin-left: auto;
    margin-right: auto;
    /* max-width: 1900px; */
    padding-left: 15px;
    padding-right: 15px;
}

.hero_scroll {
    height: 13vh;
    display: flex;
    justify-content: space-around;
}

.github_card {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--main-width);
}

.row_hero {
    height: 80vh;
    width: 100%;
    background-image: URL("/frontend/images/homepage/TypeScriptCode\ Reference_v2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position: left;
    background-size: cover;
    border-radius: var(--card-border);
}

.row_hero_container {
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.8);
    display: flex;
    gap: 100px;
    flex-direction: column;
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
}

.hero_header {
    font-size: 20pt;
    text-align: center;
    font-weight: 900;
    letter-spacing: 5pt;
}

#hero_typewriter {
    border-right: .15em solid var(--standard-text-color);
    animation: blink-cursor .95s step-end infinite;
    height: 20px;
}

@keyframes blink-cursor {
    0% {
        border-right-color: transparent;
    }

    50% {
        border-right-color: var(--standard-text-color);
    }
}

.arrow_pack>* {
    display: block;
    width: 40px;
    margin-bottom: -25px;
}

@media screen and (max-width: 600px) {
    .hero_header{
        font-size:16pt;
    }
}