@import url("vars.css");

.landingpage_hero_me_logo {
    display: flex;
    justify-content: center;
}

.landingpage_hero_me_logo>img {
    border-radius: 50%;
    height: 250px;
}

#landingpage_homefuge_spinner {
    max-width: 150px;
    border-radius: var(--card-border);
}

#landingpage_homefuge_game {
    max-width: 300px;
    border-radius: var(--card-border);
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1900px;
    padding-left: 15px;
    padding-right: 15px;
}

.github_card {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--main-width);
}

#left_hero{
    height: 400px;
    border-radius: var(--card-border);
    background-color: black;
}