:root {
    --standard-text-color: #d3d3d3;
    --main-brand-color: #1cff1c;
    --secondary-brand-color: #a2ffa2;

    --main-background: #333333;
    --secondary-background: #3a3a3a;
    --trinary-background: #464646;
    --default-shadow: 2px 2px 5px 0px #00000080;
    --hover-shadow: 3px 3px 5px 0px #00000080;

    --main-width: 900px;

    --card-border: 5px;
}

/*
Future Light Color Schema
    :root {
        --main-background: #fefefe;
        --secondary-background: #f2f2f2;
        --standard-text-color: #333333a;

    }
*/

@font-face {
    font-family: "Fira Code";
    src: url("/frontend/fonts/FiraCode-Medium.ttf");
}

@media screen and (max-width: 900px) {
    :root {
        --main-width: 600px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --main-width: 370px;
    }
}

img {
    max-width: 100%;
}

html {
    min-height: 100vh;
    scroll-behavior: smooth;
    scrollbar-gutter: stable both-edges;
}
html:has(custom-img-dialog){
    scrollbar-gutter: auto;
}

body {
    background-color: var(--main-background);
    color: var(--standard-text-color);
    margin: 0;
    font-family: "Fira Code", sans-serif;
    font-weight: lighter;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

header,
footer {
    background-color: var(--secondary-background);
    width: 100%;
}

nav {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 20px;
    box-shadow: var(--default-shadow);
}

nav>a {
    text-decoration: none;
}

a {
    color: var(--standard-text-color);
    text-decoration: underline;
}

hr {
    border-radius: 2%;

}

footer {
    width: 100%;
    min-height: 50px;

    box-shadow: var(--default-shadow);
    margin-top: 25px;
}

custom-footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 10px;
}

custom-footer>div {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

custom-footer a {
    text-decoration: none;
}

a:hover {
    color: var(--standard-text-color);
}

main {
    max-width: var(--main-width);
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
}

blockquote {
    padding: 10px;
    border-radius: var(--card-border);
    background-color: #0000008d;
}

blockquote>div {
    border-left: 3px solid var(--standard-text-color);
    padding-left: 5px;
}

#image_dialog[open] {
    overflow: hidden;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: none;
    max-height: none;
    min-width: 200px;
    min-height: 200px;
}

body:has(#image_dialog[open]) {
    overflow: hidden;
}

#image_dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
}
.image_dialog_header{
    background-color: var(--trinary-background);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
    border-top-right-radius: var(--card-border);
    border-top-left-radius: var(--card-border);
}
#image_dialog_close_btn {
    color: white;
    background-color: var(--main-background);
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    user-select: none;
    line-height: 27px;
    width: 25px;
    height: 25px;
    border-radius: var(--card-border);
    margin-right: 5px;
}
#image_dialog_close_btn:hover{


}

#image_dialog_container {
    background-color: var(--secondary-background);
    border-radius: var(--card-border);
    margin-left: 20px;
    margin-right:20px;
}

.full_screen_image_card>img {
    border-radius: var(--card-border);
    max-height: calc(100vh - 65px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.full_screen_image_card {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
}

#blog_card_container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

#blog_card_container>a {
    color: (var(--standard-text-color));
    text-decoration: none;
}

#blog_card_container>a:hover {
    color: (var(--standard-text-color));
}

.blog_card {
    width: 300px;
    height: 300px;
    box-shadow: var(--default-shadow);
    padding: 15px;
    border-radius: var(--card-border);
    background-color: var(--secondary-background);
    overflow: hidden;
}

.blog_card:hover {
    box-shadow: var(--hover-shadow);
}

.blog_card>img {
    border-radius: var(--card-border);
    max-width: 256px;
    max-height: 128px;
}

#blog_date {
    text-align: left;
    font-style: italic;
}

.blog_image_text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0px 20px;
}

.blog_image_text>img {
    max-width: 300px;
    height: min-content;
}

.blog_image_text>p {
    max-width: 500px;
}

.blog_image_text>div {
    max-width: 500px;
}

.img_full_width>img {
    width: calc(var(--main-width)*0.5);
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.imgs_row_2,
.imgs_row_3,
.imgs_row_4 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.imgs_row_2>img {
    max-width: calc(var(--main-width) / 2 - 20px);
}

.imgs_row_3>img {
    max-width: calc(var(--main-width) / 3 - 30px);
}

.imgs_row_4>img {
    max-width: calc(var(--main-width) / 4 - 40px);
}

#blog_post img {
    border-radius: var(--card-border);
}

.landingpage_hero_me_logo {
    display: flex;
    justify-content: center;
}

.landingpage_hero_me_logo>img {
    border-radius: 50%;
    width: 20%;
}

#landingpage_homefuge_spinner {
    max-width: 150px;
    border-radius: var(--card-border);
}

#landingpage_homefuge_game {
    max-width: 300px;
    border-radius: var(--card-border);
}

.github_card {
    border-radius: var(--card-border);
    box-shadow: var(--default-shadow);
    padding: 5px 10px 5px 10px;
    background-color: var(--secondary-background);
    margin-left: 5px;
    margin-right: 5px;
}

#salary_report {
    text-align: left;
    border-collapse: collapse;
}

#salary_report th {
    border-bottom: 3px solid var(--standard-text-color);
}

#salary_report tr {
    border-bottom: 1px solid var(--standard-text-color);
}

#salary_report th,
#salary_report td {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    vertical-align: bottom;
}

#changlog_container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.changelog_card {
    box-shadow: var(--default-shadow);
    padding: 10px;
    border-radius: var(--card-border);
    min-width: calc(1920px/6);
    background-color: var(--secondary-background);
    flex-grow: 1
}

.image_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

code {
    background-color: #0a0a0a;
    border-radius: 2px;
    padding: 5px;
}